#banner {
    width: 100vw;
    height: 90vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-image: url('../img/banner.jpg');
    background-size: cover;

    z-index: -1;
}

.blur {
    height: 100%;
    width: 100%;

    background: rgba(0, 0, 0, 0.5);
    filter: blur(0.4px) saturate(150%) contrast(300%);
}

#banner .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    position: absolute;

    animation-duration: 2s;
    animation-name: show;

}

@keyframes show {
    from {
      margin-top: 50vh;
      opacity: 0;
    }
  
    to {
        margin-top: 0vh;
        opacity: 1;
    }
  }

#banner h1, #banner p {
    color: white;
    font-size: 2em;
}