* {
    margin: 0;
    padding: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --color-text-primary: rgba(0, 0, 0, 0.95);
    --color-text-secondary: rgba(255, 255, 245, 0.95);
    --color-text-link: 	rgba(30, 144, 255, 0.95);

    --color-dark: rgba(0, 0, 0, 0.85);
    --color-light: rgba(255, 255, 245, 0.85);
    --color-primary: rgba(50, 145, 135, 1);
    --color-secondary: rgba(60, 180, 180, 1);

}

ul {
    list-style: none;
}

ul > li {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: var(--color-text-link)
}

img {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 1vh;
}

.container {
    width: 100%;
}

.underline {
    text-decoration: underline;
}

/* ------------------------------------ HEADER ------------------------------------ */


header {
    height: 15vh;
    width: 100vw;

    position: fixed;
    top: 0;
    z-index: 100;

    background-color: var(--color-primary);

    color: var(--color-text-secondary);
}

header a {
    color: var(--color-text-secondary);
}

header > * {
    margin: 0 5vw;
}

header > h1 {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

header > nav {
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header > nav > ul {
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

header > nav > ul > li {    
    margin-right: 2vw;
}

/* ------------------------------------ MAIN ------------------------------------ */

main {
    margin-top: 15vh;
}

main > .section {
    width: 80vw;
    min-height: 85vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 5vh 0;
    padding: 1vh 10vw;
}

main > .section::before {
    height: 10vh;
    width: 100%;

    margin-bottom: 5vh;

    background-color: var(--color-primary);
    content: '';
}

.section > h1 {
    border-bottom: 1px solid var(--color-primary);
    padding-bottom: 3px;

    font-size: 2em;
}

.section > .container {
    margin: 2.5vh 0;
}

.section > .container > h2 {
    font-size: 1.5em;
    font-style: italic;
}


#list-external-links {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    margin: 10vh 0;
}

#list-external-links > li {
    height: 10vw;
}

#list-external-links > li > h3 {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

.sub-section {
    min-height: 30vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 5vh;

    border-bottom: 1px solid var(--color-primary);
}

.sub-section > .container:nth-child(2) {
    width: 45%;
}

#list-formation > li:nth-child(2n+1) .container:nth-child(1) {
    width: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

#list-formation > li:nth-child(2n+1) .container:nth-child(1) > .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.container > img {
    max-width: 80%;
    max-height: 80%;
}

#list-formation > li:nth-child(2n+1) > .sub-section {
    display: flex;
    flex-direction: row-reverse;
}

#list-competence-global {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

#list-competence-global > li {
    width: 45%;
}

.list-competence {
    padding: 3vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    }

.list-competence > li{
    height: 100%;

    margin: 0.5vh 0.5vh;
    padding: 1vh 3vh;

    background-color: rgba(50, 145, 135, 0.05);
    border-radius: 45px;
}



#list-competence-legende {

}

#list-competence-legende > li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sticker {
    display: block;

    height: 15px;
    width: 15px;

    margin-right: 1em;

    border-radius: 90px;
}

.sticker-red {
    background-color: red;
}

.sticker-orange {
    background-color: orange;
}

.sticker-green {
    background-color: green;
}

.border-red {
    border: 1.5px solid red;
}

.border-orange {
    border: 1.5px solid orange;
}

.border-green {
    border: 1.5px solid green;
}

footer {
    height: 20vh;
    background-color: var(--color-primary);
}